body {
  min-width: 1300px;
  min-height: 1000px;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  padding-right: 0;
}
header img {
  vertical-align: middle;
  width: 7em;
  height: 7em;
}
textarea.input {
  margin: 1.5%;
  padding: 16px;
  width: 40%;
  height: 75vh;
  font-size: 24px;
  font-family: Cabin, sans-serif;
  line-height: 1.4;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}
.output {
  width: 100%;
  padding: 16px;
  height: 43%;
  font-size: 24px;
  font-family: Cabin, sans-serif;
  line-height: 1.4;
  display: block;
  border: none;
  overflow: auto;
  outline: none;
  background-color: #fff;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}
div.outputBox {
  width: 40%;
  float: right;
  height: 75vh;
  margin: 1.5%;
}
.options {
  width: 14%;
  height: 75vh;
  margin: 1.5% 0;
  float: right;
}
#output {
  margin-bottom: 2.5%;
  /* setting default values */
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
#preview {
  margin-top: 2.5%;
}
#previewText {
  word-wrap: break-word;
  display: inline;
}
#copyButton {
  height: 9%;
  width: 50%;
  border: none;
  outline: none;
  margin: 0 25%;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
}
#copyButton:active {
  height: 8.5%;
  width: 49%;
  margin: 0.25% 25.5%;
}
#clearButton {
  height: 10%;
  width: 72%;
  border: none;
  outline: none;
  margin: 0 14%;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  position: relative;
  top: 5%;
}
#clearButton:active {
  height: 8.5%;
  width: 68%;
  margin: 0.75% 16%;
  top: 5.5%;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
